<br><br><br><br><br><div id="heading">
    <h2>OUR PLANS TO SATISFY YOUR GOAL</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="row image">
                    <img src="../../assets/undraw_gift1_sgf8.svg" />
                    <h3>Starter</h3>
                </div>
                <div class="container">
                    <p>Static Pages <b class="color1">3</b>
                    <p>
                    <p>Hoasting & Maintenance <b>$100/m</b>
                    <p>
                    <p>Domain Name $550 <b>(free for 1yr)</b>
                    <p>
                    <p>Free Updation <b>1</b> time
                    <p>
                    <p>Logo <b class="color1">$400</b>
                    <p>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button class="button button1">$ 2500</button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="row image">
                    <img src="../../assets/undraw_Gift_box_re_vau4.svg" />
                    <h3>Elite</h3>
                </div>
                <div class="container">
                    <p>Static Pages <b class="color2">5</b>
                    <p>
                    <p>Hoasting & Maintenance <b>$150/m</b>
                    <p>
                    <p>Domain Name $550 <b>(free for 1yr)</b>
                    <p>
                    <p>Free Updation <b>2</b> time
                    <p>
                    <p>Logo <b class="color2">Free</b>
                    <p>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button class="button button2">$ 3500</button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="row image">
                    <img src="../../assets/undraw_developer_activity_bv83.svg" />
                    <h3>Pro</h3>
                </div>
                <div class="container">
                    <p>Static Pages <b class="color3">7</b>
                    <p>
                    <p>Hoasting & Maintenance <b>$200/m</b>
                    <p>
                    <p>Domain Name $550 <b>(free for 1yr)</b>
                    <p>
                    <p>Free Updation <b>3</b> time
                    <p>
                    <p>Logo <b class="color3">Free</b>
                    <p>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button class="button button3">$ 4500</button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>






<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
</style>