<!-- Tiltle -->
<br><br><br>
<div id="title">
  <h2>OUR PLANS TO SATISFY YOUR GOAL</h2>
</div>

<!-- Content -->
<div class="container">
  <div class="row">

    <!-- Starter -->
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-0">
      <div class="card">
        <div class="row">
          <img class="starterimg" src="../../assets/Starter_image (1).svg" />
          <h3 class="cardheading1">Starter</h3>
        </div>
        <div class="container">
          <p>Static Pages <b class="number color1">3</b>
          <p>
          <p>Hoasting & Maintenance <b>$100/m</b>
          <p>
          <p>Domain Name $550 <b>(free for 1yr)</b>
          <p>
          <p>Free Updation <b>1</b> time
          <p>
          <p>Logo <b class="color1">$400</b>
          <p>
        </div>
        <div class="row">
          
          <div class="col-4 offset-4">
            <button class="button color1">$ 2500</button>
          </div>
          
        </div>
      </div>
    </div>


    <!-- Elite -->
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-0" >
      <div class="row">
        
        <div class="popular col-6 offset-3">MOST POPULAR</div>
        
      </div>
      <div class="card card2">
        <div class="row">
          <div class="col-3 offset-1"><img class="eliteimg1" src="../../assets/boy_illustra.svg" /></div>
          <div class="col-4">
            <h3 class="cardheading2">Elite</h3>
          </div>
          <div class="col-3 offset-1"><img class="eliteimg2" src="../../assets/girl_illustra.svg" /></div>
        </div>
        <div class="container">
          <p>Static Pages <b class="number color2">5</b>
          <p>
          <p>Hoasting & Maintenance <b>$150/m</b>
          <p>
          <p>Domain Name $550 <b>(free for 1yr)</b>
          <p>
          <p>Free Updation <b>2</b> time
          <p>
          <p>Logo <b class="color2">Free</b>
          </p>
        </div>
        <div class="row">
          
          <div class="col-4 offset-4">
            <button class="button elitebtn">$ 3500</button>
          </div>
          
        </div>
      </div>
    </div>

    <!-- Pro -->
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-0">
      <div class="card">
        <div class="row">
          <img class="starterimg" src="../../assets/Pro_vector.svg" />
          <h3 class="cardheading1">Pro</h3>
        </div>
        <div class="container">
          <p>Static Pages <b class="number color3">3</b>
          <p>
          <p>Hoasting & Maintenance <b>$200/m</b>
          <p>
          <p>Domain Name $550 <b>(free for 1yr)</b>
          <p>
          <p>Free Updation <b>3</b> time
          <p>
          <p>Logo <b class="color3">Free</b>
          <p>
        </div>
        <div class="row">
          
          <div class="col-4 offset-4">
            <button class="button color3">$ 4500</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-lg-6 ">
      <div class="contact">
        <h6 class="contactno">CONTACT 6384017614 | 8248505510</h6>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>



  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

  </style>
